<div class="top-bar st-top-bar show-for-medium hide-for-small" style="background-image: linear-gradient(to right, #5b5547 0%, #febf0c 100%)">
    <div class="top-bar-left">
        <h1>
            <a href="index.html">
                <img src="static/images/ui/logo_inline.png" alt="Scanterra Logo" />
            </a>
        </h1>
    </div>
    <div class="top-bar-right">

        <ul class="dropdown menu st-top-bar-menu" data-dropdown-menu>
            <li class="active"><a href="#">Map</a></li>
            <li><a href="#">Business Intelligence</a></li>
            <li><a href="#">Reports</a></li>
            <li>
                <a href="#">Profile</a>
                <ul class="menu submenu">
                    <li><a href="logout">Log out</a></li>
                </ul>
            </li>
            <li><a href="#">Alert</a></li>
            <li><a href="#">Other</a></li>
            <li><input type="text" placeholder="search"/></li>
            <li><button type="button"></button></li>
        </ul>
    </div>
</div>