<div class="top-bar st-top-bar show-for-small-only" style="background-image: linear-gradient(to right, #5b5547 0%, #febf0c 100%)">
    <div class="top-bar-left">
        <ul class="menu grid-x">
            <li class="cell small-1">
                <button type="button" class="button st-top-bar-about" data-toggle="offAbout">
                    <i class="fi-list "></i>
            </li>
            </button>
            <li class="cell auto">
                <input type="text" class="st-search-all" placeholder="Search here"/>
            </li>
            <li class="cell small-1">
                <!-- id="st-maps" -->
                <button data-panel="left" class="button st-button-maps-selection" title="Maps"></button>            
                <!-- <button type="button" class="button st-button-maps-selection" data-toggle="offCanvasMapsSelection"> -->
                </button>
            </li>
            <li class="cell small-1 small-offset-1">
                <button data-panel="bottom" type="button" class="button st-top-bar-layers">
                </button>
            </li>
        </ul>
    </div>
</div>