body {
  overflow: hidden;
}

.st-top-bar {
    background-image: linear-gradient(to right, #5b5547 0%, #febf0c 100%);
}

.st-tool, #st-zoom button {
    background-color: #5b5547;
}

.st-tool:active, #st-zoom button:active {
    background-color: #9a7d3a;
}

.st-tool-active {
    text-decoration: none;
    background-color: #9a7d3a;
}

.st-main-tool {
    background-color: #febf0c;
}

.map-copyright {
    bottom: -0.2rem;
    left: 50%;
    margin-left: -100px;
    padding: 5px 10px 5px 10px;
    background: rgba(140, 119, 68, 0.43);
    display: inline-block;
    position: absolute;
    visibility: visible;
    z-index: 5;
    border-radius: 4px;
}

.top-bar-left {
    padding-left: 25px;
}

.top-bar-left img {
    width: 225px;
}